<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<form>
		<span><p class= "header"> sighn up today!</p></span>
		First Name:
		<input type="Name" name="first_name" placeholder="First"><br>
		Last Name
		<input type="Name" name="last_name" placeholder="last"><br>
		</form>
	</div>
</body>
</html>